h1{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
  }
  



body{
    background-color: #262c34;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    align-content: left ;
    color: aliceblue;
   
}


